@font-face {
  font-family: "avenir";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../assets/font/AvenirNextLTPro-Bold.otf");
}
