.inventory {
  padding: 32px 16px 0 16px;

  @include tablet {
    padding: 32px 24px 0 24px;
  }

  @include desktop {
    padding: 48px 180px 0 180px;
  }

  &__product-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 16px 0 0 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
      &:nth-child(n + 2) .inventory__label {
        // selects all the inventory titles except for the first row
        display: none;
      }
    }
  }

  //top and search bar

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include m-font-h1;
    font-family: avenir-bold;
    margin: 0 0 16px 0;

    @include tablet {
      @include dt-font-h1;
    }

    @include desktop {
      shape-margin: 0 0 48px 0;
    }
  }

  &__search-form {
    padding: 10px;
    border: 1px solid $mercury;
    border-radius: 4px;
    display: flex;
    width: 250px;
    margin: 0 0 32px 0;
    background-color: $alabaster;

    @include desktop {
      margin: 0 0 40px 0;
      height: 48px;
      width: 252px;
    }
  }

  &__search-img {
    margin-right: 10px;

    @include desktop {
      margin: 0 8px 0 16px;
    }
  }

  &__search-input {
    @include m-font-p;
    background-color: $alabaster;
    font-family: avenir;
    border: none;

    @include tablet {
      @include dt-font-p;
    }

    &:focus {
      outline: transparent;
    }
  }

  //inventory table

  &__left-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &__container {
    @include tablet {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include desktop {
      height: 80px;
    }
  }

  &__label {
    @include m-font-label;
    font-family: avenir-demi;
    color: $silver;
    margin: 0 0 16px 0;

    @include tablet {
      @include dt-font-label;
    }
  }

  &__name {
    @include m-font-h2;
    font-family: avenir-demi;
    margin: 0;
    color: black;

    @include tablet {
      @include dt-font-p;
    }
  }

  &__description {
    @include m-font-p;
    margin: 0 0 24px 0;

    @include tablet {
      @include dt-font-p;
    }
  }

  &__kebab-remove-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablet {
      margin: 0 0 0 40px;
    }
  }

  &__kebab {
    @include desktop {
      height: 22px;
    }
  }

  &__remove {
    width: 156px;
    padding: 15px;
    position: absolute;
    top: 25px;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 4px;

    @include desktop {
      height: 44px;
      padding: 0px;
      padding: 10px;
    }
  }

  &__add-button {
    background-color: $instock-blue;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 50px;

    @include desktop {
      height: 80px;
      width: 80px;
      right: 230px;
    }
  }
}
