.locations {
  // Component Parent
  padding: 32px 16px 0 16px;

  max-width: 100%;

  color: $black;
  @include m-font-h1;
  @include m-font-p;

  //border: 10px solid seagreen;

  // Component Header
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 16px 0;
    padding: 32px 0 16px 0;
    font-size: 22px;

    font-family: avenir-bold;
  }

  &__search-form {
    padding: 10px;
    border: 1px solid $mercury;
    border-radius: 4px;
    display: flex;
    width: 250px;
    margin: 0 0 32px 0;
    background-color: $alabaster;
  }

  &__search-icon {
    margin-right: 10px;
  }

  &__search-input {
    @include m-font-p;
    background-color: $alabaster;
    font-family: avenir;
    border: none;

    &:focus {
      outline: transparent;
    }
  }

  // Data Table Parent
  &__data-wrapper {
    // Derek product card
    margin: 16px 0 0 0;

    border-bottom: 1px solid $mercury;
  }

  // Data Table Header
  &__data-header {
    display: none;
  }

  // Data Table Body

  &__data-warehouse-info {
    /*    display: flex;
    flex-direction: column; */

    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
  }

  &__data-warehouse-location-info {
    //font-size: 14px;
    //line-height: 16px;
    width: 100;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__data-warehouse-location-info-title {
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
  }

  &__site-icon-wrapper {
    width: 100%;
  }

  &__data-warehouse-address-info {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
  }

  &__data-contact-person {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
  }

  &__data-contact-info {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
  }

  &__data-categories {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
  }

  &__data-segment {
    border-bottom: 1px solid $silver;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include tablet {
    padding: 32px 24px 0 24px;

    &__header-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    // Data Table Parent

    &__data-header {
      display: none;
    }

    &__data-segment {
      display: flex;

      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      @include dt-font-h1;
    }
  }

  @include desktop {
    border: 10px solid navy;

    &__data-header {
      /*     display: flex;
      justify-content: space-between;
      align-items: center; */
      display: inline-block;
      border: 10px solid red;
    }
  }
}
