.main {
  margin: 20px;
}

.locations {
  color: $black;

  @include m-font-p;

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__data-wrapper {
  }

  &__data-warehouse-info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  &__data-contact-person {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  &__data-contact-info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  &__locations__data-categories {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  &__title {
    @include m-font-h1;
  }

  &__search {
  }

  &__data-header {
    display: flex;
    justify-content: space-between;
    display: none;
  }

  &__data-body {
  }
  &__data-segment {
    border-bottom: 1px solid #afafaf;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include tablet {
    @include dt-font-p;

    &__header-wrapper {
      flex-direction: row;

      justify-content: space-between;
      align-items: center;
    }

    &__data-wrapper {
    }

    &__data-header {
      display: block;
    }

    &__title {
      @include dt-font-h1;
    }
  }

  @include desktop {
    &__header-wrapper {
    }
  }
}
