@import "./partials/font";
@import "./partials/typography";
@import "./partials/breakpoints";
@import "./partials/colors";
<<<<<<< HEAD
@import "./partials/locations";
=======
@import "./partials/header";

@import "./partials/Inventory";
>>>>>>> master

/* reset the page */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
  font-family: avenir;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
